@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap'); 

body{ 
			background: #565D57; 
			}

			header{font-size: 64px;
				width: 900px;
				margin: 0 auto;
				float: center;
			 }

			footer {width: 900px;
				margin: 0 auto;}

		#contenedor{
			width: 900px; 
			padding: 20px 20px;
			margin: 30px;
			background: gray;
			margin: 0 auto; 
			float: center;  /* otras opciones son left, right */
		}

		div{
			width: 820px; 
			padding: 20px;
			margin: 20px;
			background: white;
		}

		#desarrollo{
			background: orange;
			}

		h1{
			background: #E9E3E2;
			width: 900px;
			padding: 10px;
			margin: 20px;
			font-size: 28px;
			color: #565D57;
    		font-family: 'Aboreto', cursive;
    		}

		h2 {/* selecciona el header o titulo 3 y lo pinta */
			background: pink;
			width: 80%;
			font-size: 20px;
			color: navy;
			font-family: 'Orelega One', cursive;
			}

		p {/* selecciona el parrafo y lo pinta */
			background: white;
			width: 100%;
			padding: 10px;
			font-size: 18px;
			}

		img{/* selecciona las imagenes y las formatea */
			border: 0px solid gray;
			width: 100%;
			}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}